<div class="main ui container">

	<div class="users-index ui text container">
    <h2 class="ui dividing header">ユーザー一覧</h2>


    <div class="users-index-items">

      <div class="ui header">
        <div class="ui image circular">
          <%= link_to image_tag("/users/penguin.png"), "/users/show" , class:"ui image circular" %>
        </div>
        <div class="content">
          ユーザー名
          <div class="sub header">
            こんにちは
          </div>
        </div>
      </div>
      <div class="ui divider"></div>

      <div class="ui header">
        <div class="ui image circular">
          <%= link_to image_tag("/users/penguin.png"), "/users/show" , class:"ui image circular" %>
        </div>
        <div class="content">
          ユーザー名
          <div class="sub header">
            こんにちは
          </div>
        </div>
      </div>
      <div class="ui divider"></div>

      <div class="ui header">
        <div class="ui image circular">
          <%= link_to image_tag("/users/penguin.png"), "/users/show" , class:"ui image circular" %>
        </div>
        <div class="content">
          ユーザー名
          <div class="sub header">
            こんにちは
          </div>
        </div>
      </div>
      <div class="ui divider"></div>

    </div>
  </div>
</div>
	