<div class="main ui container">
  <div class="user-show ui text container">


    <div class="user-detail mt-2">
      <div class="ui centered grid">
        <div class="column ui center aligned row">
          <div class="ui image circular">
            <%= link_to image_tag("/users/penguin.png"), "/users/show" , class:"ui image circular" %>
          </div>
        </div>
        <div class="column ui center aligned row">
          <h2 class="">ユーザー名</h2>
        </div>
        <div class="column ui center aligned row">
          <p class="text">自己紹介自己紹介自己紹介自己紹介自己紹介自己紹介自己紹介自己紹介自己紹介自己紹介</p>
        </div>
      </div>
    </div>
      
    <!-- Posts History -->
    <div class="posts-index-items mt-4">
      <h2>投稿履歴</h2>
      <div class="ui divider"></div>

      <div class="ui stackable two column grid">
        <div class="seven wide column center aligned">
          <div class="ui image ">
            <%= link_to image_tag("/default-thumbnail.png"), "/posts/show" , class:"" %>
          </div>
        </div>
        <div class="nine wide column">
          <h3 class="ui header">
            <p>タイトル</p>
            <div class="sub header">がいようがいようがいようがいようがいようがいようがいようがいようがいようがいよう</div>
          </h3>
        </div>
      </div>
      <div class="ui divider"></div>
      
      <div class="ui stackable two column grid">
        <div class="seven wide column center aligned">
          <div class="ui image ">
            <%= link_to image_tag("/default-thumbnail.png"), "/posts/show" , class:"" %>
          </div>
        </div>
        <div class="nine wide column">
          <h3 class="ui header">
            <p>タイトル</p>
            <div class="sub header">がいようがいようがいようがいようがいようがいようがいようがいようがいようがいよう</div>
          </h3>
        </div>
      </div>
      <div class="ui divider"></div>

      <div class="ui stackable two column grid">
        <div class="seven wide column center aligned">
          <div class="ui image ">
            <%= link_to image_tag("/default-thumbnail.png"), "/posts/show" , class:"" %>
          </div>
        </div>
        <div class="nine wide column">
          <h3 class="ui header">
            <p>タイトル</p>
            <div class="sub header">がいようがいようがいようがいようがいようがいようがいようがいようがいようがいよう</div>
          </h3>
        </div>
      </div>
      <div class="ui divider"></div>

    </div>
    <!-- Posts History End -->

  </div>
</div>