<div class="main">
	
	<div class="new-list">
		<h2>最新の動画</h2>
		
		<div class="box">
			<div class="thumbnail">
        <%= link_to image_tag("default-thumbnail.png"), "/posts/show" %>
			</div>
			<div class="user-img">
				<img src="" alt="user">
			</div>
			<h3>タイトル</h3>
			<h4>ユーザー名</h4>
			<p>なんかなんかなんか</p>
		</div>

		<div class="box">
			<div class="thumbnail">
			</div>
			<div class="user-img">
				<img src="" alt="user">
			</div>
			<h3>タイトル</h3>
			<h4>ユーザー名</h4>
			<p>なんかなんかなんか</p>
		</div>
		<div class="box">
			<div class="thumbnail">
			</div>
			<div class="user-img">
				<img src="" alt="user">
			</div>
			<h3>タイトル</h3>
			<h4>ユーザー名</h4>
			<p>なんかなんかなんか</p>
		</div>
	</div>

	<div class="topic-list">
		<h2>おすすめ</h2>
		
		<div class="box">
			<div class="thumbnail">
			</div>
			<div class="user-img">
				<img src="" alt="user">
			</div>
			<h3>タイトル</h3>
			<h4>ユーザー名</h4>
			<p>なんかなんかなんか</p>
		</div>

		<div class="box">
			<div class="thumbnail">
			</div>
			<div class="user-img">
				<img src="" alt="user">
			</div>
			<h3>タイトル</h3>
			<h4>ユーザー名</h4>
			<p>なんかなんかなんか</p>
		</div>
		<div class="box">
			<div class="thumbnail">
			</div>
			<div class="user-img">
				<img src="" alt="user">
			</div>
			<h3>タイトル</h3>
			<h4>ユーザー名</h4>
			<p>なんかなんかなんか</p>
		</div>
	</div>
</div>