<div class="main">
	
	<div class="upload">
		<form class="upload-form">
			<p>タイトル</p>
			<input type="text" name="title">

			<p>動画ファイル</p>
			<input type="file" name="movie">

			<p>概要</p>
			<textarea name="overview"></textarea>

			<input type="submit" value="投稿">
		</form>
	</div>

</div>
	