/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */


body > .pusher {
  padding: 6em 0;
}

.ui.top.inverted.menu { background: #00E0C0; color: #fff; }
.ui.sidebar.inverted.menu { background: #000; color: #fff; }
img { background: #dedede; }

.mt-2 { margin-top: 2rem !important; }
.mt-4 { margin-top: 4rem !important; }


.ui.menu .is-cp { display: flex !important; }
.ui.menu .is-mb { display: none !important; }
@media (max-width: 768px) { 
  .ui.menu .is-cp { display: none !important; }
  .ui.menu .is-mb { display: flex !important; }
}
